134A25G2/prjDemoProf134/cours02_XML-XSD/020_XML-XSD/080_regex/personne.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="personne">
        <xs:complexType>
            <xs:sequence>
                <!-- noEmploye : 5 chiffres -->
                <xs:element name="noEmploye">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]{5}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <!-- code Déptartement : 3 lettres -->
                <xs:element name="codeDeptartement">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[A-Z]{3}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <!-- Téléphone : format international 1-418-555-1234 -->
                <xs:element name="telephone">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="1-[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
