134A25G2/prjDemoProf134/cours03_ex2_locaux/locauxV3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- racine -->
    <xs:element name="locaux">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="local" type="localType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Type réutilisable pour local -->
    <xs:complexType name="localType">
        <xs:sequence>
            <xs:element name="noLocal">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[A-Q][0-9]{4}"/> <!-- regex -->
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="nbEtudiant" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>