134A25G2/prjDemoProf134/cours03_ex2_locaux/locauxV1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="locaux">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="local" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="noLocal" type="xs:string"/>
                            <xs:element name="nbEtudiant" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>