134A25G1/prjDemoProf134/cours02_XML-XSD/020_XML-XSD/070_commandes_multipleXSD/ClientType.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Type réutilisable pour client -->
    <xs:complexType name="ClientType">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>