134A25G2/prjDemoProf134/cours02_XML-XSD/020_XML-XSD/070_commandes_multipleXSD/ProduitType.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ProduitType">
        <xs:sequence>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prixUnitaire" type="xs:float"/>
        </xs:sequence>
        <xs:attribute name="quantite" type="xs:float" use="required"/>
    </xs:complexType>
</xs:schema>